
body {

    font-family: sans-serif;
    background-color: #eee7e7;
    margin: 0;
    text-align: center;
    
    
    


}

.container {

    width: 593px;
    height: 579px;
    margin: 0;
    

}
img{
    margin: 0;
    margin-bottom: 72px;
    
    
}
h1{

    margin-bottom:32px;
    font-weight: bold;
    font-size: 49px;
    
    

}
.azul{
    color:#0075FF ;
}
.one {
    margin-bottom: 77px;
    font-size: 14px;
    color: #7d7987;
    
}
.link{
    margin: 0 33px;
    border: 1px solid #ECEFF2;
    
      
}
a{
    text-decoration: none;
    color: #0075FF;
    font-size: 14px;
    margin-right: 0;
    padding: 14px ;
    text-decoration: underline;
    
    
}




